<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="../images/favicon.png?v=1.1">

  <meta charset="utf-8">
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="cache-control" content="max-age=604800" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="dSSescription" content="Bootstrap e-commerce html template similar to Alibaba">
  <meta name="keywords" content="Online template, shop, theme, template, html, css, bootstrap 4">

  <title>FUJIKA | Ecommerce Website</title>


  <link rel="stylesheet" href="../stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css">
  <script src="../javascript/store.js" async></script>



</head>

<body id="style-3">

  <%- include('../partials/nav.ejs') %>

    <%- body %>


      <%- include('../partials/footer.ejs') %>

</body>

</html>